
<footer id="footer" class="bg-light text-center">
    <div id="footercontent" class="text-center p-3" style="background-color: #1E3A5F; font-weight: bolder; color: white;">
      © 2025 Copyright:
      <b style="color: white; font-weight: bolder;" class="text-light">Team 8</b>
      <br><br>
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border: none;" role="button"><i class="fa fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border: none;" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>  
</footer>